/ bootstrap
%link{href: "/assets/css/bootstrap/bootstrap.css", rel: "stylesheet"}/
%link{href: "/assets/css/bootstrap/bootstrap-overrides.css", rel: "stylesheet", type: "text/css"}/
/ libraries
%link{href: "/assets/css/lib/jquery-ui-1.10.2.custom.css", rel: "stylesheet", type: "text/css"}/
%link{href: "/assets/css/lib/font-awesome.css", rel: "stylesheet", type: "text/css"}/
/ global styles
%link{href: "/assets/css/compiled/layout.css", rel: "stylesheet", type: "text/css"}/
%link{href: "/assets/css/compiled/elements.css", rel: "stylesheet", type: "text/css"}/
%link{href: "/assets/css/compiled/icons.css", rel: "stylesheet", type: "text/css"}/